@import url('https://fonts.googleapis.com/css?family=Roboto');

.nav__item {
    color: #000 !important;
}

.nav__item:not(.active_link):hover * {
    color: #616161c8 !important;
}

.item__name {
    color: #000 !important;
}

.active_link * {
    color: #68a8ff !important;
}



.nav__header {
    color: #000;
    margin-left: 8px;
    font-weight: 700;
    font-size: 14px;
    padding-left: 16px;
    font-family: "Roboto", sans-serif !important;

}