.btnCss{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color: #fff;
    color: #000000;
    border: none;
    box-shadow: 0px 0px 5px  rgb(0, 0, 0,0.5);
    position: fixed;
    top: calc(100vh - 100px);
    left: calc(100vw - 100px);
    z-index: 100;
    text-align: center;
}